{% extends 'layouts/layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>{{title}}</h3>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor%}
        {% endif %}
        {% endwith%}

        <div class="col-md-5 container-fluid">
            <div class="card mt-2 text-white bg-dark mb-4">
                <div class="card-header">
                    Insertar Vehiculo
                </div>
                <div class="card card-body">
                    <form action="guardar" method="POST">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="cia" placeholder="Compañia">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="empresa" placeholder="Empresa o Institución">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="placa" placeholder="Placa de Control">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="tipo" placeholder="Tipo de Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="marca" placeholder="Marca del Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="modelo" placeholder="Modelo del Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="año" placeholder="Año de Creación">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="color" placeholder="Color del Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="cilindrada" placeholder="Cilindrada del Vehiculo">
                        </div>

                        <button class="btn btn-primary form-control " type="submit">
                            Registrar
                        </button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
<!-- Estilos CSS -->
{% block css%}

{% endblock %}
<!-- Java Scripts -->
{% block js%}

{% endblock %}
