{% extends 'layouts/layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>{{title}}</h3>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor%}
        {% endif %}
        {% endwith%}

        <div class="col-md-5 container-fluid">
            <div class="card mt-3 text-white bg-dark mb-3">
                <div class="card-header">
                    Insertar Nuevo
                </div>
                <div class="card-body">
                    <form action="/vehiculos/actualizarvehiculo/{{vehiculo.id}}" method="POST">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.cia}}" name="cia" placeholder="Compañia">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.empresa}}" name="empresa" id="sololetras" placeholder="Empresa o Institución">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.placa}}" name="placa" placeholder="Placa de Control">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.tipo}}" name="tipo" id="sololetras1" placeholder="Tipo de Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.marca}}" name="marca" placeholder="Marca del Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.modelo}}" name="modelo" placeholder="Modelo del Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.año}}" name="año" id="solonumeros" placeholder="Año de Creación">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.color}}" name="color" id="sololetras2" placeholder="Color del Vehiculo">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" value="{{vehiculo.cilindrada}}" name="cilindrada" placeholder="Cilindrada del Vehiculo">
                        </div>

                        
                        <button class="btn btn-primary form-control " type="submit">
                            Registrar
                        </button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
<!-- Estilos CSS -->
{% block css%}

{% endblock %}
<!-- Java Scripts -->
{% block js%}

<script>
    function forceLower(strInput) {
        strInput.value = strInput.value.toLowerCase();
    }

    // Restricts input for the given textbox to the given inputFilter.
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });
    }
    //Solo acepta El abecedario 
    setInputFilter(document.getElementById("sololetras"), function(value) {
        return /^[a-z, ""]*$/i.test(value);
    });

    setInputFilter(document.getElementById("sololetras1"), function(value) {
        return /^[a-z, ""]*$/i.test(value);
    });

    setInputFilter(document.getElementById("sololetras2"), function(value) {
        return /^[a-z, ""]*$/i.test(value);
    });

    //Edad validacion
    setInputFilter(document.getElementById("solonumeros"), function(value) {
        return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 2050);
    });
    //Solo acepta coordenadas
    setInputFilter(document.getElementById("gps"), function(value) {
        return /^(-?\d+(\.\d+)?),\s*(-?\d+(\.\d+)?)$/i.test(value);
    });


</script>

{% endblock %}
