{% extends 'layouts/layout.html' %}
{% block body %}

<div class="card">

    
    <div class="card-body mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor%}
        {% endif %}
        {% endwith%}

        <form class="form-horizontal" method="POST" action="/guardar_trabajo" enctype="multipart/form-data">
            <!-- method="post" action="/" enctype="multipart/form-data" -->
            <div class="row bg-light text-dark">

                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        <label for="titulo">Compañia</label>
                        <input class="form-control" placeholder="Ingrese el numero de compañia del vehículo" name="titulo"
                            type="text" id="titulo" required onkeyup="this.value = this.value.toUpperCase();">
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <textarea class="form-control" rows="3" placeholder="Ingrese el tipo de vehículo" id="descripcion"
                            name="descripcion" required></textarea>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="card bg-light text-dark">

                        <div class="card-header bg-light text-dark">
                            Ajustar historial
                        </div>
                        <div class="card-body">
                            <input type="file" name="file" id="file" accept="image/*" required />
                            <center>
                                <img id="preview" class="profile-user-img img-fluid"
                                    src="{{url_for('static',filename='img/historial1.jpg')}}"
                                    alt="trabajo"></center>                              
                        </div>

                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="container-fluid h-100 mt-2">
                    <div class="row w-100 align-items-center">

                        <div class="form-group ">
                            <div class="">
                                <button type="submit" class="btn btn-success ">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        </br>
        <div id="output"></div>
    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- Fin contenido -->

{% endblock %}
<!-- Estilos CSS -->
{% block css%}
{% endblock %}
<!-- Java Scripts -->
{% block js%}
<script>

    function init() {
        var inputFile = document.getElementById('file');
        inputFile.addEventListener('change', mostrarImagen, false);
    }

    function mostrarImagen(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = document.getElementById('preview');
            img.src = event.target.result;
        }
        reader.readAsDataURL(file);
    }

    window.addEventListener('load', init, false);
</script>

{% endblock %}
